<form action="/nuevo_paciente" method="POST" class="card bg-black text-light">
  <div class="card-body p-4">
    <h1 class="h5 mb-4">Nuevo Paciente</h1>

    <div class="mb-3">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        name="nombre"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder=""
        autofocus
        required
      />
    </div>

    <div class="mb-3">
      <label for="apellido">Apellido</label>
      <input
        type="text"
        name="apellido"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder=""
        autofocus
        required
      />
    </div>

    <div class="mb-3">
    <label for="dni">DNI</label>
    <input
        type="number"
        name="dni"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder=""
        autofocus
        required
    />
    </div>

    <div class="mb-3">
    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
    <input
        type="date"
        name="fecha_nacimiento"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder=""
        autofocus
        required
    />
    </div>

    <div class="mb-3">
      <label for="email">eMail</label>
      <input
        type="email"
        name="email"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder=""
        required
      />
    </div>

    <div class="mb-3">
    <label for="telefono">Telefono</label>
    <input
        type="number"
        name="telefono"
        class="form-control rounded-0 bg-dark border-0 text-white"
        autofocus
        required
    />
    </div>

    <button class="btn btn-primary">Guardar</button>
  </div>
</form>
