{% extends "layout.html" %} {% block body %}

<div class="col-md-4 offset-md-4">
  <div class="card card-body bg-dark text-white">
    <h6>Editar Datos de Paciente</h6>



    <form action="{{url_for('pacientes.actualizar_paciente', id_paciente=paciente.id_paciente)}}" method="POST">
      <div class="mb-3">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          name="nombre"
          value="{{paciente.nombre}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="apellido">Apellido</label>
        <input
          type="text"
          name="apellido"
          value="{{paciente.apellido}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="dni">DNI</label>
        <input
          type="text"
          name="dni"
          value="{{paciente.dni}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        <input
          type="date"
          name="fecha_nacimiento"
          value="{{paciente.fecha_nacimiento}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="email">eMail</label>
        <input
          type="email"
          name="email"
          value="{{paciente.email}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="telefono">Telefono</label>
        <input
          type="text"
          name="telefono"
          value="{{paciente.telefono}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>

      <button class="btn btn-primary">Actualizar</button>
    </form>
  </div>
</div>

{% endblock %}
